body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para o Header com a Logo */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto;
  margin-right: 10px; /* Espaçamento entre a logo e o título */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  max-width: 800px;
}

/* Estilo do Modal */
.modal {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
}

.modal-open {
  opacity: 1;
  display: flex;
}

.modal-close {
  opacity: 0;
  display: none;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#modal-task-input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#save-task-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Estilo para a mensagem de "Sem Tarefas" */
.no-tasks-message {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  display: none; /* Oculto por padrão */
}

.task-input {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}


#new-task {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

#add-task-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

#add-task-btn:hover {
  background: linear-gradient(to right, #5a0db0, #1f6bdf); /* Cor mais escura ao passar o mouse */
}

#add-task-btn i {
  margin-right: 5px;
}

/* Estilo do Modal de Erro */
.error-modal-content {
  background-color: #ce0b0bc0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 250px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.close-error-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#error-message {
  color: #f5f4f4;
  font-size: 16px;
}

/* Estilo do Modal de Visualização de Tarefa */
.view-task-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.close-view-task-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#view-task-text {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

#delete-task-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.task-list:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#task-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#task-container li {
  padding: 10px;
  border-bottom:1px solid #7d7d7d;
  /* border-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#task-container li.removed {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.calendar {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}


/* botoes de importar/exportar */
.task-actions {
  display: flex;
  gap: 20px; /* Espaçamento entre os botões */
  justify-content: center; /* Centraliza os botões */
  margin-top: 30px; /* Ajusta o espaçamento superior */
}

.task-actions button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #7d7d7d;
  margin-bottom: 4rem;
  background-color: #cecece;
  cursor: pointer;
}

.task-actions button:hover {
  border: 2px solid #dfdfdf;
  background-color: #1f6bdf;
  color: #f5f4f4;
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Estilo para tarefas concluídas */
.completed {
  text-decoration: line-through;
  color: #000000;
  opacity: 0.7;
  transition: color 0.3s, opacity 0.3s;
  animation: taskCompletedFade 0.4s ease-in-out;
}

/* Efeito de Animação ao Marcar como Concluída */
@keyframes taskCompletedFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.7;
    transform: scale(0.98);
  }
}

/* Botão de deletar */
.delete-btn {
  background: none;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  transition: color 0.3s;
}

.delete-btn:hover {
  color: #ff6a60;
}

footer {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
}

